<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Account</title>

    <style>
        body {
            background-color:gainsboro;
        }
        i, a {
            color: hotpink;
        }
        button {
            color: brown;
            padding: 8px 12px;
            border: 1px solid #ED2939;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;  
        }
    </style>
</head>
<body>
    <h2> Verify your RESERVELY account</h2>
    <p>Hello <i>{{name}}</i>, Welcome to Reservely, we are super excited for you to use our app!</p>
    <p>Are you ready to gain access to all of the fun features we prepared for you? 
        First, you must complete your registration by clicking on the button below:</p>
    <a href="{{confirmURL}}"> <button>VERIFY</button> </a>
    <p>This link will verify your email address, and then you will officially be a part of the RESERVELY community.</p>
    <p><i>PLEASE NOTE, THIS LINK IS VALID FOR TWO DAYS ONLY</i></p>
    
    <br>

    <h4>See you there!</h4>
    <h4><i>Best regards, from all of us @RESERVELY</i></h4>



</body>
</html>